@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

html,
body {
  background-color: #121212;
  padding: 0;
  margin: 0;
  font-family: 'Inter', poppins, sans-serif;
}

.thumb::-webkit-slider-thumb {
  @apply appearance-none w-6 h-6 rounded-full bg-[#d9d9d9] cursor-pointer;
}

.thumb::-webkit-slider-thumb:hover {
  @apply bg-[#7A7A7A] border border-solid border-white;
  transition: 0.5s linear;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: white;
  margin: 0;
  padding: 0;
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
}

li:hover,
button:hover {
  cursor: pointer
}
