@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', poppins, sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: white;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* div {
  border: 1px solid black;
} */

* {
  box-sizing: border-box;
}

li:hover,
button:hover {
  cursor: pointer;
}

@media (dark-mode: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
